
body {
    font-family: Arial, sans-serif;
    background-image: url('fondo-250.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: "top-left top-center top-right" 
                         "middle-left middle-center middle-right" 
                         "bottom-left bottom-center bottom-right";
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    gap: 10px;

    background-image: url(istockphoto-1393912497-612x612.jpg);  
    background-position: center; /* Centra la imagen */
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    grid-area: top-center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 15px;
    margin: 10px auto;
}

.quote-box {
    background-color: #b3e5fc;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 20px;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#top-left { grid-area: top-left; }
#top-right { grid-area: top-right; justify-self: end; align-self: start; }
#bottom-left { grid-area: bottom-left; }
#bottom-right { grid-area: bottom-right; justify-self: end; align-self: end; }

.quote-text {
    font-size: 1rem;
    font-style: italic;
}

.quote-source {
    font-size: 0.8rem;
    font-weight: bold;
}

.center-text {
    grid-area: middle-center;
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    margin: 0 auto;
    width: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}